/* Body CSS */
body {
  height: 60.75rem; /* 972px */
}

/* Header CSS */
.course {
  font-weight: bold;
}

/* First Section CSS */
.first_section {
  margin-top: 10.125rem; /* 162px */
}

.first_section_button {
  text-align: center;
  margin-top: 3.125rem; /* 50px */
}

.first_section_edexcel_ial, .first_section_igcse {
  padding: 1.5625rem 1.875rem; /* 25px 30px */
  border-radius: 6.25rem; /* 100px */
  border: none;
  font-size: 1.5625rem; /* 25px */
  font-weight: bold;
  background: linear-gradient(90deg, #4ade80, #2dd4bf);
  color: white;
  z-index: 1;
}

.first_section_igcse {
  margin-top: 2.5rem; /* 40px */
}

.first_section_edexcel_ial:hover, .first_section_igcse:hover {
  cursor: pointer;
  background: linear-gradient(90deg, #4ade80, #2dd4bf);
  box-shadow: 0 0 0.9375rem rgba(74, 222, 128, 0.6); /* 15px */
  transform: scale(1.05);
  color: white;
}
